
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f1eb;
  color: #5f5a56;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

/* ===== MAIN APP ===== */

.app {
  min-height: 100vh;
}